In [1]:
import datetime

x = datetime.datetime.now()
print(x)

2023-01-03 15:22:28.909146

In [6]:
import datetime

x = datetime.datetime.now()
print(x.strftime('%c'))

Tue Jan  3 15:24:46 2023

In [7]:
for i in range(100):
    pass

In [8]:
#to check how much time did the program took to process the code 
import datetime
x = datetime.datetime.now()
for i in range(100):
    pass

y = datetime.datetime.now()
print(y-x)

0:00:00

In [9]:
import datetime
x = datetime.datetime.now()
name = input('Enter name = ')

y = datetime.datetime.now()
print(y-x)

Enter name = riya
0:00:02.467288

In [14]:
import datetime

x = datetime.datetime(2020,5,17,12,10,59)
y = datetime.datetime(2020,5,16,12,0,34)

print(str(x-y))

1 day, 0:10:25

In [16]:
# Comprehensions: List, Dictionary 
#-->List
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [17]:
a=[i for i in range(20) if i%2==0]
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
a=[input('Enter name = ') for i in range(5)]
a

Enter name = qwer
Enter name = asdfg
Enter name = jhgfi
Enter name = oiu
Enter name = hg

['qwer', 'asdfg', 'jhgfi', 'oiu', 'hg']

In [20]:
#comprehension is mostly used in calculation of linear equation

In [23]:
a =sum([int(input('Enter number = ')) for i in range(5)])
a

Enter number = 1
Enter number = 2
Enter number = 3
Enter number = 4
Enter number = 6

16

In [26]:
a = ['Apple','Ball','Cat','bus','air','zebra']
b = [i for i in a if i[0].isupper()]
b

['Apple', 'Ball', 'Cat']

In [34]:
# used for mapping
d = {i:i**2 for i in range(1,5)}
d

{1: 1, 2: 4, 3: 9, 4: 16}

In [35]:
d = {i:i**2 for i in range(1,5)}
list(d.values())

[1, 4, 9, 16]

In [36]:
a = ['Apple','Ball','Cat','bus','air','zebra']
d = {i:i.lower()for i in a}
print(d)
list(d.values())

{'Apple': 'apple', 'Ball': 'ball', 'Cat': 'cat', 'bus': 'bus', 'air': 'air', 'zebra': 'zebra'}

['apple', 'ball', 'cat', 'bus', 'air', 'zebra']

In [37]:
# #Lambda function

# lambda<arguments> : <expression>

In [39]:
x = lambda a:a**2
print('square = ',x(4))

square =  16

In [44]:
#filtering
#filter function has two arguments

List = [1,2,3,4,3,5,6,33,22]
div =  list(filter(lambda x : (x%3==  0),List))
even =  list(filter(lambda x : (x%2==0),List))

print(div)
print(even)

[3, 3, 6, 33]
[2, 4, 6, 22]

In [45]:
List = [1,2,3,4,3,5,6,7,8,9,10]
mul = list(map(lambda x : x*5,List))
print(mul)

[5, 10, 15, 20, 15, 25, 30, 35, 40, 45, 50]

In [46]:
a = ['Apple','Ball','Cat','bus','air','zebra']
mul = list(map(lambda x : x.lower(),a))
print(mul)

['apple', 'ball', 'cat', 'bus', 'air', 'zebra']