In [1]:
# Dictionary
# --> Indexing
# --> Ordered
# --> Multiple 
# --> Mutable
# --> Similar to List
#--> syntax => d = {<key>:<value>,<key>:<value>,....}
#--> we can't use +,*
#--> Key must be unique , values can be duplicated.
#--> We can use del and pop()

In [3]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(type(d))
print(len(d))

<class 'dict'>
3

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a']

'Apple'

In [6]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [7]:
#Always gives only end value.
d = {'a':'Apple','a':'ant'}
d

{'a': 'ant'}

In [8]:
d = {'a':'Apple','A':'ant'}
d

{'a': 'Apple', 'A': 'ant'}

In [9]:
d = {'a':'Apple','A':'ant'}
for i in d:
    print(i)

a
A

In [10]:
d = {'a':'Apple','A':'ant'}
for i in d.values():
    print(i)

Apple
ant

In [11]:
d = {'a':'Apple','A':'ant'}
for i in d.items():                        #returns values in tuple
    print(i)

('a', 'Apple')
('A', 'ant')

In [12]:
#Creating the dictionary
d = {}
d['a']='Apple'
d['b'] = 'Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [2]:
data ={}
n=int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    phone = int(input('Enter number = '))
    data[name] = phone
print(data)

Enter n = 2
Enter name = ert
Enter number = 1234
Enter name = wert
Enter number = 1234567
{'ert': 1234, 'wert': 1234567}

In [3]:
d = {'ert': 1234, 'wert': 1234567}
del d['ert']
d

{'wert': 1234567}

In [6]:
d = {'ert': 1234, 'wert': 1234567}
p=d.pop('ert')   
print(d)
print(p)

{'wert': 1234567}
1234

In [7]:
#List inside dictionary
d = {'Ram':[980867543,9801234576],
    'Shyam':[981323445,98902345]}
d

{'Ram': [980867543, 9801234576], 'Shyam': [981323445, 98902345]}

In [13]:
d = {'Ram':[980867543,9801234576],
    'Shyam':[981323445,98902345]}
d['Ram'][0] = 9841745693

d

{'Ram': [9841745693, 9801234576], 'Shyam': [981323445, 98902345]}

In [14]:
d = {'Ram':[980867543,9801234576],
    'Shyam':[981323445,98902345]}
d['Ram'].append(987654321)
d

{'Ram': [980867543, 9801234576, 987654321], 'Shyam': [981323445, 98902345]}

In [16]:
d = {'Name':['Ram','Shyam','Hari'],
    'age':[23,45,43],
    'add':['Kathmandu','Bhaktapur','Latipur']}
d

{'Name': ['Ram', 'Shyam', 'Hari'],
 'age': [23, 45, 43],
 'add': ['Kathmandu', 'Bhaktapur', 'Latipur']}

In [17]:
data ={'name':[],
      'age':[],
      'add':[]}
n=int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = input('Enter address = ')
    
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
    
print(data)

Enter n = 2
Enter name = Ram
Enter age = 23
Enter address = Kathmandu
Enter name = Shyam
Enter age = 28
Enter address = Lalitpur
{'name': ['Ram', 'Shyam'], 'age': [23, 28], 'add': ['Kathmandu', 'Lalitpur']}

In [22]:
# Dictionaries inside list
data = [{'Name':'Ram','Age':23,'Add':'Kathmandu'},
       {'Name':'Shyam','Age':28,'Add':'Lalitpur'},
       {'Name':'Hari','Age':25,'Add':'Bhaktapur'}]
data

[{'Name': 'Ram', 'Age': 23, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 28, 'Add': 'Lalitpur'},
 {'Name': 'Hari', 'Age': 25, 'Add': 'Bhaktapur'}]

In [21]:
data[0]['Name']

'Ram'

In [25]:
data[0]['Name'] = 'Gita'
data.append([{'Name': 'Sita', 'Age': 23, 'Add': 'Kathmandu'}])
data

[{'Name': 'Gita', 'Age': 23, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 28, 'Add': 'Lalitpur'},
 {'Name': 'Hari', 'Age': 25, 'Add': 'Bhaktapur'},
 [{'Name': 'Sita', 'Age': 23, 'Add': 'Kathmandu'}]]

In [31]:
data=[]
n=int(input('Enter n= '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = input('Enter address = ')
    
    data.append({'name':name,'Age':age,'Add':add})
print(data)

Enter n= 2
Enter name = Ram
Enter age = 23
Enter address = kathmandu
Enter name = Hari
Enter age = 24
Enter address = Lalitpur
[{'name': 'Ram', 'Age': 23, 'Add': 'kathmandu'}, {'name': 'Hari', 'Age': 24, 'Add': 'Lalitpur'}]

In [33]:
x=data[0].pop('name')
x

'Ram'

In [3]:
#dict inside dict
d={1:{'Name': 'Ram', 'Age': 23, 'Add': 'kathmandu'},
   2:{'Name': 'Shyam', 'Age': 22, 'Add': 'Bhaktapur'},
   3:{'Name': 'Hari', 'Age': 30, 'Add': 'Lalitpur'}}

In [5]:
d[1]['Name']

'Ram'

In [4]:
d={}
d[1]={'Name': 'Ram', 'Age': 23, 'Add': 'kathmandu'}
d[2]={'Name': 'Shyam', 'Age': 22, 'Add': 'Bhaktapur'}
d

{1: {'Name': 'Ram', 'Age': 23, 'Add': 'kathmandu'},
 2: {'Name': 'Shyam', 'Age': 22, 'Add': 'Bhaktapur'}}

In [5]:
d[1] = {'Name': 'Hari', 'Age': 30, 'Add': 'Lalitpur'}    #can be updated easily
d

{1: {'Name': 'Hari', 'Age': 30, 'Add': 'Lalitpur'},
 2: {'Name': 'Shyam', 'Age': 22, 'Add': 'Bhaktapur'}}

In [7]:
del d[1]
d

{2: {'Name': 'Shyam', 'Age': 22, 'Add': 'Bhaktapur'}}

In [11]:
d={1:{'Name': 'Ram', 'Age': 23, 'Add': 'kathmandu'},
   2:{'Name': 'Shyam', 'Age': 22, 'Add': {'Bhaktapur','Lalitpur'}},
   3:{'Name': 'Hari', 'Age': 30, 'Add': 'Lalitpur'}}
d

{1: {'Name': 'Ram', 'Age': 23, 'Add': 'kathmandu'},
 2: {'Name': 'Shyam', 'Age': 22, 'Add': {'Bhaktapur', 'Lalitpur'}},
 3: {'Name': 'Hari', 'Age': 30, 'Add': 'Lalitpur'}}

In [8]:
d={('Ram','Shyam'):981234}   #key can have value of tuple but not list as list is muttable
d

{('Ram', 'Shyam'): 981234}