In [1]:
# File
# .csv
# .txt

In [2]:
# file = open('<file_name>','<mode>')
# file.close()


# with open('<file_name>','<mode>') as file:    -->file is an object here
#     <operations>

In [3]:
# mode
# r -> read               --> split()
# a -> append
# x -> create
# w -> write

In [6]:
try:
    file = open('new_file.txt','x')
    file.close()
except:
    print('The file is already there....')

The file is already there....

In [9]:
try:
    file = open('new_file.docx','x')
    file.close()
except:
    print('The file is already there....')

The file is already there....

In [12]:
try:
    file = open('new_file.txt','r')
    x = file.read()
    print(x)
    print(type(x))
    file.close()
except:
    print('The file is already there....')

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
<class 'str'>

In [13]:
x

'1. Hello World\n2. Hello World\n3. Hello World\n4. Hello World\n5. Hello World'

In [15]:
x.split('\n')

['1. Hello World',
 '2. Hello World',
 '3. Hello World',
 '4. Hello World',
 '5. Hello World']

In [16]:
x.split('\n')[0]

'1. Hello World'

In [17]:
x.split('\n')[1]

'2. Hello World'

In [18]:
# -> append =>add garna 
# -> write => overwrite garna

In [19]:
with open('data.txt','w') as file:
    file.write('Hello World. I am Python')

In [20]:
with open('data.txt','w') as file:
    file.write('Hello World. I am Python:')

In [22]:
with open('data.txt','a') as file:
    file.write('\n Hiii!!! I am Python too.')

In [31]:
info=str()
n = int(input('Enter n= '))
for i in range(n):
    name=input('Enter product name= ')
    price = int(input('Enter price= '))
    quantity = int(input('Enter quantity= '))
    total = price*quantity
    info = info+ f"{name} {price} {quantity} {total}\n"

print(info)
with open('data.txt','a') as file:
    file.write(info)

Enter n= 2
Enter product name= qwertt
Enter price= 1233
Enter quantity= 1
Enter product name= asdfg
Enter price= 543
Enter quantity= 2


qwertt 1233 1 1233
asdfg 543 2 1086

In [55]:
with open('data.txt','r') as file:
    x = file.read()
    
    print(x.split('\n'))

['asd 100 2 200', 'awer 150 2 300', 'qwertt 1233 1 1233', 'asdfg 543 2 1086', '']

In [56]:
data = x.split('\n')[0:-1]

In [57]:
new_data = []
for i in data:
    new_data.append(i.split())
print(new_data)

[['asd', '100', '2', '200'], ['awer', '150', '2', '300'], ['qwertt', '1233', '1', '1233'], ['asdfg', '543', '2', '1086']]

In [58]:
all_total = 0
for cal in new_data:
    all_total = all_total+int(cal[3])
    
print(all_total)

2819