In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [4]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [2]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [7]:
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
n=int(input("multiplication of "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

multiplication of 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
s=0
for i in range(1,5):
    s=s+i
    print(s)

1
3
6
10

In [12]:
s=0
for i in range(1,5):
    s += i
print("sum =",s)

sum = 10

In [8]:
s=1
for i in range(1,5):
    s=s*i
    print(s)

1
2
6
24

In [17]:
x= int(input("Enter x = "))
y= int(input("Enter y = "))
s=x
for i in range(x,y+1):
    s=s*i
    print(s)

Enter x = 3
Enter y = 10
9
36
180
1080
7560
60480
544320
5443200

In [14]:
#Factorial
s=1
x= int(input("Enter x = "))
for i in range(1,x+1):
    s=s*i
print(s)

Enter x = 5
120

In [18]:
for i in range(2):
    x=input("Enter x= ")
    print(x)

Enter x= 23
23
Enter x= 12
12

In [ ]:
#concadination of two string
s=str()
for i in range(1,5):
    x=input("Enter x= ")
    s=s+x+" "
#     s= s+x+"\n"       #\n: line break


print(s)

s = str()

In [1]:
s=str()
for i in range(1,5):
    Name=input("Enter x= ")
    Phone =int(input("enter number = "))
    s=s+Name+" = "+str(Phone)+"\n"
print(s)

Enter x= abc
enter number = 12345
Enter x= pqr
enter number = 345678
Enter x= asd
enter number = 2345
Enter x= dfg
enter number = 23456
abc = 12345
pqr = 345678
asd = 2345
dfg = 23456

In [2]:
#for backward
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [3]:
for i in range(1,10):
    if i%2==0:
        print(i,"is even")
    else:
        print(i,"is odd ")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [1]:
#for loop in string datatype

In [3]:
a="Hello World"
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [5]:
a="Hello World"
for i in a:
    print(i,end="")
#     print(i,end = ",")

Hello World

In [6]:
a="Python"
for i in a:
    print("Hello World",i)
#     print(i,end = ",")

Hello World P
Hello World y
Hello World t
Hello World h
Hello World o
Hello World n

In [7]:
a = "Hello World I am Python"
for i in a:
    if i!= " ":
        print(i,end="")

HelloWorldIamPython

In [1]:
#Control statement
# 1. break
# 2. continue
# 3. pass

In [2]:
for i in range(10):
    if i==7:
        break
    else:
        print(i)

0
1
2
3
4
5
6

In [3]:
a="Hello World I am Python"
for i in a :
    if i==" ":
        break
    print(i,end="")

Hello

In [4]:

for i in range(10):
    if i==7 :
        continue
    else:
        print(i)

0
1
2
3
4
5
6
8
9

In [11]:
#for loop ma complete navayeko le  pass use gareko ho 
for i in range(10):
        pass
print(i)

9

In [12]:
for i in range(1,21):
    if i%2 != 0:
        continue
    else:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
a= "Hello World I am Python. How are you?"
for i in a:
    if i==".":
        print(i)
        break
    else:
        print(i,end="")

Hello World I am Python.