In [1]:
#Python Collection
#-List
#-Tuple
#-Dicttionary
#-Set

In [2]:
#List
# -Multiple and dublicate data
# - Indexing
# - Ordered
# - Mutable

#List can be concadicated and enlarged

In [7]:
a=[1,2,3,4,5,6,7]
b=['Apple','Ball','Cat','Apple']
c= list()
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [8]:
#jasari value haru store vako xa tesari nei output deko le ordered  
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6, 7]
['Apple', 'Ball', 'Cat', 'Apple']
[]

In [20]:
#Indexing
print(b[0])
print(b[1])
print(b[0:6:2])

Apple
Ball
['Apple', 'Cat']

In [19]:
#Mutable is to add or edit
a=['Apple','Ball','Cat','Apple']
a.append('Dog')
print(a)

['Apple', 'Ball', 'Cat', 'Apple', 'Dog']

In [22]:
#we can use different operators +,*

a=['Apple','Ball','Cat','Apple']
b=[1,2,3,4]
c=a+b
print(c)
print(a*2)

['Apple', 'Ball', 'Cat', 'Apple', 1, 2, 3, 4]
['Apple', 'Ball', 'Cat', 'Apple', 'Apple', 'Ball', 'Cat', 'Apple']

In [4]:
a = []
n = int(input("Enter the value n= "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)

Enter the value n= 5
Enter x = 4
Enter x = 345
Enter x = 345
Enter x = 345
Enter x = 231
[4, 345, 345, 345, 231]

In [10]:
a=[4, 345, 345, 345, 231]
print("the maximum value is ",max(a))
print("the manimum value is ",min(a))
print("the sum value is ",sum(a))
print("the avg value is ",sum(a)/len(a))
a.sort()
print(a)
a.reverse()
print(a)

the maximum value is  345
the manimum value is  4
the sum value is  1270
the avg value is  254.0
[4, 231, 345, 345, 345]
[345, 345, 345, 231, 4]

In [11]:
#different functions
# append(),insert(),extend() :to input data
#append can add only one value. To add multiple value we use extend

#del, remove(), pop():to delete data

In [12]:
a=[]
a.append('Apple')
a.append('Ball')
print(a)

['Apple', 'Ball']

In [16]:
a=['Apple','Ball','Cat','Dog']
a.insert(2,'Fish')
a

['Apple', 'Ball', 'Fish', 'Cat', 'Dog']

In [19]:
a=['Apple','Ball','Cat','Dog']
a.extend([1,2,3,4,5,6,7])
a

['Apple', 'Ball', 'Cat', 'Dog', 1, 2, 3, 4, 5, 6, 7]

In [20]:
#Reading
a=['Apple','Ball','Cat','Dog']
for i in a:
    print(i)

Apple
Ball
Cat
Dog

In [22]:
a = []
n = int(input("Enter the value n= "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)

    
print(a)

Enter the value n= 3
Enter x = 23
Enter x = 45
Enter x = 34
[23, 45, 34]

In [24]:
#Update the list
a=['Apple','Ball','Cat','Dog']
a[0] = 'apple'
a

['apple', 'Ball', 'Cat', 'Dog']

In [26]:
#Update the multiple vvalue in list
a=['Apple','Ball','Cat','Dog']
a[0:2] = ['apple','ball']
a

['apple', 'ball', 'Cat', 'Dog']

In [39]:
# to delete
#del
a=['Apple','Ball','Cat','Dog']
del a[0:2]
a

['Cat', 'Dog']

In [38]:
#remove
a=['Apple','Ball','Cat','Dog']
a.remove('Ball')
a

['Apple', 'Cat', 'Dog']

In [45]:

a=['Apple','Ball','Cat','Dog','Apple']
c=a.count('Apple')
print(c)
for i in range(c):
    a.remove('Apple')
print(a)

2
['Ball', 'Cat', 'Dog']

In [49]:
#pop()
a = ['Apple','Ball','Cat','Dog','Apple']
b = a.pop(0)
print(a)
print(b)

['Ball', 'Cat', 'Dog', 'Apple']
Apple

In [50]:
a=['Apple','Ball','Cat','Dog','Apple']
a.index('Ball')

1

In [51]:
a=['Apple','Ball','Cat','Dog','Apple']
a.index('Apple')

0

In [52]:
a=['Apple','Ball','Cat','Dog','Apple']
l = len(a)
for i in range(l):
    if a[i]=='Apple':
        print(i)

0
4

In [26]:
a=['Apple','Ball','Cat','Dog','Apple']
l = len(a)
i=0
while i<l:
    print(a[i])
    i+=1

Apple
Ball
Cat
Dog
Apple

In [27]:
a=['Ram','Shyam','Hari','Ram','Shyam']
if 'Ram' in a:
    print('yes')
    print(a.count('Ram'))

yes
2

In [3]:
#lIST INSIDE LIST
#Multi dimension array
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(type(a))
print(len(a))

<class 'list'>
3

In [6]:
print(a)
print(a[0])
print(a[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2

In [1]:
a=[['ram',23,'kathmandu'],
   ['shyam',24,'lalitpur'],
   ['Hari',22,'bhaktapur']]

In [3]:
data=[]
n=int(input('Enter n = '))
for i in range(n):
    name = input('Enter name = ')
    age = int(input('Enter age = '))
    add = input('Enter address = ')
    data.append([name,age,add])
print(data)

Enter n = 3
Enter name = abc
Enter age = 33
Enter address = rty
Enter name = asd
Enter age = 23
Enter address = ert
Enter name = fgh
Enter age = 2
Enter address = dfg
[['abc', 33, 'rty'], ['asd', 23, 'ert'], ['fgh', 2, 'dfg']]

In [8]:
data[0]=['ram',23,'kathmandu']
data[2][0] = 'Shyam'
print(data)
print(a[0][0])

[['ram', 23, 'kathmandu'], ['asd', 23, 'ert'], ['Shyam', 2, 'dfg']]
ram

In [11]:
a=[['ram',23,'kathmandu'],
   ['shyam',24,'lalitpur'],
   ['Hari',22,'bhaktapur']]
a.insert(1,['Hari',22,'bhaktapur'])
print(a)

[['ram', 23, 'kathmandu'], ['Hari', 22, 'bhaktapur'], ['shyam', 24, 'lalitpur'], ['Hari', 22, 'bhaktapur']]

In [14]:
a=[['ram',23,'kathmandu'],
   ['shyam',24,'lalitpur'],
   ['Hari',22,'bhaktapur']]
a[0].insert(2,98415367)
print(a)

[['ram', 23, 98415367, 'kathmandu'], ['shyam', 24, 'lalitpur'], ['Hari', 22, 'bhaktapur']]

In [15]:
del a[0][2]
print(a)

[['ram', 23, 'kathmandu'], ['shyam', 24, 'lalitpur'], ['Hari', 22, 'bhaktapur']]

In [25]:
#pop() is used to put the value in another variable 
a=[['ram',23,'kathmandu'],
   ['shyam',24,'lalitpur']]
x = a.pop(0)
print(a)
print(x)

[['shyam', 24, 'lalitpur']]
['ram', 23, 'kathmandu']

In [38]:
#search
a=[['Ram',23,'kathmandu'],
   ['shyam',24,'lalitpur'],
   ['Hari',22,'bhaktapur']]
name = input('Enter name = ')
for i in a:
    if name in i:
        print(i)

Enter name = ram
there no name =  ram

In [41]:
c=0
a=[['Ram',23,'kathmandu'],
   ['shyam',24,'lalitpur'],
   ['Ram',22,'bhaktapur']]
name = input('Enter name = ').lower()
for i in a:
    if name == i[0].lower():
        print(i)
        c=c+1
if c==0:
    print('No Result Found')
else:
    print(c,'record found')

Enter name = ram
['Ram', 23, 'kathmandu']
['Ram', 22, 'bhaktapur']
2 record found