In [1]:
#   Set
# --> No Indexing
# --> Unordered
# --> Multiple data but no dublicate data
# --> Mutable
# --> not offend used like dictionary and list but when there is dublication problem then set can be used

In [ ]:
functions for set
--> issubset()
--> issuperset()
--> isdisjointset()

In [2]:
s={1,2,3,4,5,6}
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [6]:
s={}
print(type(s))

<class 'dict'>

In [7]:
s={1}
print(type(s))

<class 'set'>

In [5]:
s={'Apple','Ball','Cat','Dog'}    #Unordered
print(s)

{'Cat', 'Dog', 'Ball', 'Apple'}

In [9]:
a={1,2,3,8,6,5,4,7,8,3,9,1}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s =  set() 
s.add('Apple')
s.add('Ball')
s.add('Cat')
print(s)

{'Cat', 'Ball', 'Apple'}

In [12]:
a={'Cat', 'Ball', 'Apple'}
a.remove('Ball')
a

{'Apple', 'Cat'}

In [13]:
#removing dublication in list
a=[1,2,3,5,6,7,8,7,6,5,4,3,4,5,6,7]
list(set(a))

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
apple = {'Ram','Shyam','John','Smith','Kate'}
ms = {'Shyam','Smith','Jony','Rakesh','Ramesh'}
print(apple.intersection(ms))
print(len(apple.intersection(ms)))

{'Shyam', 'Smith'}
2

In [17]:
print(apple.union(ms))
print(len(apple.union(ms)))

{'Kate', 'Shyam', 'Ramesh', 'John', 'Jony', 'Ram', 'Smith', 'Rakesh'}
8

In [22]:
#only apple
print(apple-ms)

{'John', 'Kate', 'Ram'}

In [23]:
apple = {'Ram','Shyam','John','Smith','Kate'}
ms = {'Shyam','Smith','Jony','Rakesh','Ramesh'}
sam = {'Shyam','Smith','John','Ken','Prakriti'}

print(apple.intersection(ms,sam))

{'Shyam', 'Smith'}

In [24]:
print(apple.union(ms,sam))

{'Prakriti', 'Kate', 'Shyam', 'Ramesh', 'Ken', 'John', 'Jony', 'Ram', 'Smith', 'Rakesh'}

In [25]:
sam.intersection(ms) -  apple

set()

In [26]:
U = {'Ram','Shyam','John','Smith','Kate','Jony','Rakesh','Ramesh','Ken','Prakriti'}
apple = {'Ram','Shyam','John','Smith','Kate'}
ms = {'Shyam','Smith','Jony','Rakesh','Ramesh'}
U - apple.union(ms)

{'Ken', 'Prakriti'}

In [30]:
job = {'Python','CSS','HTML','Data Science'}
cv = {'Python','PHP','Java'}
ljob = len(job)
li = len(job.intersection(cv))
prob =(li/ljob)*100
print(prob)

25.0

In [ ]:
# s={[1,2,3],{3,4,5,6}} ==> list and dictionary cant be inside set as they are mutable even set cant be inside set
# but tuple can be inside set