In [1]:
# Tuple
# --> Indexing
# --> Ordered
# --> Duplicate and multiple data 
# --> Immutable
# Tuple cant be created by any functions but can be written in predefined function
# It cant be updated i.e no del remove() pop() 
# It can be read by using for loop
# We can concadicate the tuple and create tuple
# Used in static data. most;y used in drop down menu
# Light weight than string
# Can use function like index,sum,max,min but cant use other functions like remove() append etc.

In [3]:
a=(1,2,3,4,5,6)
print(type(a))

<class 'tuple'>

In [9]:
# if there is only one data in ()then it's not tuple but its data type. in order to make single data as tuple then
# we must add ',' i.e(1,)
a = (1,2,3)
b = (1)
data = ()
print(type(a))
print(type(b))
print(type(data))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [10]:
data = ()
n = int(input('Enter n = '))
for i in range(n):
    x = input('Enter x = ')
    data += (x,)
print(data)

Enter n = 2
Enter x = asd
Enter x = abc
('asd', 'abc')

In [15]:
a=('apple','ball')
a=list(a)
del a[0]
a=tuple(a)
a

('ball',)